<%= form_for(time_table) do |f| %>
  <% if time_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_table.errors.count, "error") %> prohibited this time_table from being saved:</h2>

      <ul>
      <% time_table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <% if time_table.total_credits >= 15 %>
  <%= f.hidden_field :complete, value: true %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
