<div class="container">
	<h1>Choose Subjects for Your Time Table</h1>

	<%= render "time_tables/form", time_table: @time_table %>

	<%= render partial:"time_tables/table" %>

	<div class="container col-md-6">
		<h1>Selected Subjects</h1>
		<%= render "subjects/index", subjects: @selected_subjects, selected: true %>
	</div>

	<div class="container col-md-6">
		<h1>Subjects List</h1>
		<%= render "subjects/index", subjects: @subjects, selected: false %>
	</div>

	<%= link_to 'Show', @time_table %> |
	<%= link_to 'Back', time_tables_path %>
</div>
